/* styles */
/* called by your view template */

/* You might want to try something fancier: */
/* less: http://lesscss.org/ */

* {
  box-sizing: border-box;
}

body {
  font-family: helvetica, arial, sans-serif;
  margin: 20px;
}

h1 {
  font-weight: bold;
  color: pink;
}

li {
  margin-bottom: 5px;
  margin-left: 10px;
}
